<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap.min.css') }}" >

    <title>Dass's Home</title>
    <script src="{{ url_for('static', filename = 'jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'socket.io.js') }}"></script>


<script>
    
 $( document ).ready(function() {
    
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
     
    socket.on('ImageUpdate', function(msg) {
        console.log(msg);
         var temph1 = parseInt(msg);
        document.getElementById("img2").src = "/static/" + temph1.toString() + ".jpg";
        document.getElementById("h1").innerHTML = msg
        
    });
    
    
    
});

function btnStreamFunction(){
    document.getElementById("img").src = "{{ url_for('video_feed') }}";
    document.getElementById("headerh1").innerHTML = "Live Stream!!!";
    
     var x = document.getElementById("h1");
     x.style.display = "none";
}

function btnPhotoFunction(){
    var temph1 = parseInt(document.getElementById("h1").innerHTML);
    document.getElementById("img").src = "/static/" + temph1.toString() + ".jpg"; 
    document.getElementById("headerh1").innerHTML = "AI Captured Image: ";
         var x = document.getElementById("h1");
     x.style.display = "block";
     
}



function NextFunction() {
    
    
    var temph1 = parseInt(document.getElementById("h1").innerHTML);
    temph1 = temph1 + 1;
    if (temph1 >=100)
    {
        temph1 = 1
    }
    document.getElementById("img2").src = "/static/" + temph1.toString() + ".jpg"; 
    document.getElementById("h1").innerHTML = temph1.toString();
    

  
}

function PrevFunction() {
    
    
    var temph1 = parseInt(document.getElementById("h1").innerHTML);
    temph1 = temph1 - 1;
    if (temph1 < 1)
    {
        temph1 = 100
    }
    document.getElementById("img2").src = "/static/" + temph1.toString() + ".jpg"; 
    document.getElementById("h1").innerHTML = temph1.toString();
    

  
}
function CaptureFunction(){
    var socket = io();
        socket.emit('captureimage', {data: 'CaptureImage'});
 
}

function getText(){
    // read text from URL location
    var request = new XMLHttpRequest();
    var temptxt = "";
    request.open('GET', '/static/alert.txt', true);
    request.send(null);
    request.onreadystatechange = function () {
        if (request.readyState === 4 && request.status === 200) {
            var type = request.getResponseHeader('Content-Type');
            if (type.indexOf("text") !== 1) {
                temptxt = request.responseText;
                document.getElementById("h1").innerHTML = temptxt;
                return temptxt;
            }
        }
    }
}

</script>

  </head>
  <body>
      <div class="container jumbotron">
          <div class="row justify-content-md-center col-md-auto">
        <h1>Live Stream!!!</h1>
        </div>
        <div class="row justify-content-md-center col-md-auto">
        <img id="img" alt="Max-width 100%" class="img-fluid" src="{{ url_for('video_feed') }}" style="border: 3px solid black"/>
        </div>
        <br>
        <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        <button class="btn btn-primary" onclick="CaptureFunction()">Take photo</button>
        </div>
        <!--<a href="/stream" target="blank"><button>Stream</button></a>-->
        <!--<button class="btn btn-primary" id="btnStream" onclick="btnStreamFunction()">Stream</button>-->
        <!--<button class="btn btn-primary" id="btnPhoto" onclick="btnPhotoFunction()">View Photo</button>-->
        <div class="col col-lg-2">
        <button class="btn btn-primary" onclick="PrevFunction()">Prev</button>
        </div>
        <div class="col col-lg-2">
        <button class="btn btn-primary" onclick="NextFunction()">Next</button>
        </div>
        </div>
        <br>
        <div class="row justify-content-md-center col-md-auto">
        <h5 id="headerh1">Recent Intruder Image: </h1> 
        <h5 id="h1">1</h1> 

        <br>
        </div>
        <div class="row justify-content-md-center col-md-auto">
            <img id="img2" alt="Max-width 100%" class="img-fluid" src="{{ url_for('static', filename = '1.jpg') }}" style="border: 3px solid black"/>
        </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>



